body {
    background-color: rgba(150, 200, 210, 235);
    font-size: 25px;
    margin: 50px 50px 50px 50px;
}
img{
    height: 500px;
    width: 500px;
}
p,ol,ul {
    width: 600px;
}
h1,h2,.section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    font-size: 30px;
    width: 100px;
    height: 50px;
    display: block;
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;
    padding-top: 7.5px;

}
